input[type=button],  input[type=reset]{
    width : 40px;
    height : 30px;
}

.box1 {
    border-radius: 10px;
    border: 2px solid #73AD21;
    background-color : #73AD21;
    padding: 10px;
    margin : 10px;
    width: 400px;
    height: 20px;
    color : white;
    text-align : center;
}
.box2 {
    border: 2px solid #73AD21;
    padding: 10px;
    margin : 10px;
    width: 400px;
    height : 150px;
    text-align : center;
}
.box3 {
    border-radius: 10px;
    border: 2px solid #73AD21;
    padding: 10px;
    margin : 10px;
    width: 400px;
    height:50px;
    text-align : center;
}

.pc1 {
    width : 25%;
    text-align : center;
    float : left ;
}
.pc2 {
    width : 5%;
    text-align : center;
    float : left ;
}
.pc3 {
    clear : both ;
    width : 95%;
    padding-left : 20px;
    text-align : left;
    background-color : #E4F7BA;
    color : red ;
}
#msg {
    font-size : 20px
}